certifi==2021.10.8
charset-normalizer==2.0.11
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
httpimport==0.7.2
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyunsplash==1.0.0rc2
requests==2.27.1
urllib3==1.26.8
Werkzeug==1.0.1
shortuuid==1.0.11
firebase==4.0.1
firebase-admin==6.1.0